html {
  font-size: 16px;
}
body {
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "Noto Sans JP Variable", sans-serif;
  color: #333333;
}
h1 {
  font-size: 1.25rem;
  font-weight: bold;
}
h2 {
  font-size: 1.875rem;
  font-weight: bold;
}
button {
  flex-shrink: 0;
  background-color: white;
}
table {
  width: 100%;
  border: solid 1px #7f8e99;
}
th {
  font-weight: normal;
  font-size: 15px;
}
td {
  border: solid 1px #7f8e99;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 1.25rem;
  }
}
