@use "./foundation/mixin" as mixin;

.table {
  &__financialPlan {
    thead {
      text-align: center;
    }
    th {
      background-color: #eff3fb;
    }
    &--thead {
      &-th {
        width: 33.3%;
        border: solid 1px #7f8e99;
      }
      &-01 {
        border: none;
        width: 22.4%;
      }
      &-02 {
        width: 22.4%;
        padding: 8px 0;
      }
      &-sub {
        height: 10px;
        border: none;
      }
    }
    &--tbody {
      &-01 {
        padding: 12px 14px;
        text-align: start;
        border-top: solid 1px #7f8e99;
      }
      &-02 {
        padding: 12px 14px;
        text-align: start;
        border: solid 1px #7f8e99;
      }
      &-sub {
        width: 15px;
      }
      td {
        padding: 12px 14px;
        text-align: end;
      }
    }
  }
  &__financialPlanFormer {
    thead {
      text-align: center;
    }
    td {
      padding: 12px 14px;
      border: solid 1px #7f8e99;
      @include mixin.tab {
        padding: 8px;
        word-break: break-all;
      }
    }
    &--tbody {
      td {
        text-align: end;
      }
      &-text {
        text-align: start !important;
      }
    }
  }

  &__settleReport {
    &__exective {
      width: 1200px;
      td {
        padding: 12px 13px;
        width: 14%;
      }
      &--textCenter {
        text-align: center;
      }
    }
    &__exective2 {
      width: 100%;
      tbody {
        td {
          padding: 12px 13px;
        }
      }
      &--textCenter {
        text-align: center;
      }
    }
  }
}
